<div class="card text-white shadow" style="max-width: 20rem; min-height: 140px;" *ngIf="widget"
  [ngClass]="{'editCard': widget.widgetState.editMode}">
  <div *ngIf="!widget.widgetState.editMode">
    <div class="card-header d-flex justify-content-between" [class]="hideContent ? 'bg-secondary' : 'bg-primary'">
      <span>{{widget.display_name}}</span>
      <a type="button" *ngIf="!hideContent" (click)="widget.widgetState.editMode = !widget.widgetState.editMode"><i
          class="fas fa-edit"></i></a>
    </div>
    <div class="card-body" *ngIf="!hideContent">
      <ng-container [ngSwitch]="widget.name" *ngIf="!widget.widgetState.editMode">
        <app-weather-temperature [widget]="widget" #widgetComponent *ngSwitchCase="'city_temperature'">
        </app-weather-temperature>
        <app-weather-city [widget]="widget" #widgetComponent *ngSwitchCase="'city_weather'"></app-weather-city>
        <app-currency-converter [widget]="widget" #widgetComponent *ngSwitchCase="'currency_converter'">
        </app-currency-converter>
        <app-nasa-picture-of-the-day [widget]="widget" #widgetComponent *ngSwitchCase="'apod'">
        </app-nasa-picture-of-the-day>
        <app-nasa-picture-rover [widget]="widget" #widgetComponent *ngSwitchCase="'curiosity_image'">
        </app-nasa-picture-rover>
        <app-intra-profile [widget]="widget" #widgetComponent *ngSwitchCase="'intra_epitech_profile'">
        </app-intra-profile>
        <app-intra-partners [widget]="widget" #widgetComponent *ngSwitchCase="'intra_epitech_partners'">
        </app-intra-partners>
        <app-intra-notifications [widget]="widget" #widgetComponent *ngSwitchCase="'intra_epitech_notifications'">
        </app-intra-notifications>
        <app-intra-grades [widget]="widget" #widgetComponent *ngSwitchCase="'intra_epitech_grades'">
        </app-intra-grades>
        <app-doors-open [widget]="widget" #widgetComponent *ngSwitchCase="'epitech_doors_open_door'">
        </app-doors-open>
        <app-lol-profile [widget]="widget" #widgetComponent *ngSwitchCase="'league_of_legends_summoner_profile'">
        </app-lol-profile>
        <app-office-calendar-events [widget]="widget" #widgetComponent *ngSwitchCase="'office_calendar_events'">
        </app-office-calendar-events>
        <app-gmail-inbox [widget]="widget" #widgetComponent *ngSwitchCase="'gmail_inbox'">
        </app-gmail-inbox>
      </ng-container>
    </div>
  </div>

  <div class="editCardContent" *ngIf="widget.widgetState.editMode">
    <div class="card-header bg-primary d-flex justify-content-between">
      <span>Edit {{widget.display_name}}</span>
      <a type="button" (click)="validWidgetEditMode(widget)"><i class="fas fa-check"></i></a>
      <a type="button" *ngIf="!hideContent" (click)="widget.widgetState.toDelete = true"><i
          class="fas fa-trash ms-3"></i></a>
    </div>
    <div class="card-body">
      <div class="form-group" *ngFor="let param of widget.widgetState.parameters">
        <input type="text" class="form-control" id="name" [placeholder]="param.name" [(ngModel)]="param.value">
      </div>
    </div>
  </div>
</div>