<div class="card text-white shadow" style="max-width: 20rem;" *ngIf="widget"
  [ngClass]="{'editCard': widget.widgetState.editMode}">
  <div *ngIf="!widget.widgetState.editMode">
    <div class="card-header bg-primary d-flex justify-content-between">
      <span>{{widget.name}}</span>
      <a type="button" (click)="widget.widgetState.editMode = !widget.widgetState.editMode"><i
          class="fas fa-edit"></i></a>
    </div>
    <div class="card-body">
      <ng-container [ngSwitch]="widget.componentName" *ngIf="!widget.widgetState.editMode">
        <app-weather-temperature *ngSwitchCase="'app-weather-temperature'"></app-weather-temperature>
      </ng-container>
    </div>
  </div>

  <div class="editCardContent" *ngIf="widget.widgetState.editMode">
    <div class="card-header bg-primary d-flex justify-content-between">
      <span>Editer le widget {{widget.name}}</span>
      <a type="button" (click)="widget.widgetState.editMode = !widget.widgetState.editMode"><i
          class="fas fa-check"></i></a>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="widget.name">
      </div>
    </div>
  </div>
</div>