<div cdkDropListGroup class="wrapper d-flex">
  <app-side-nav></app-side-nav>
  <div class="container-fluid mt-3">
    <div cdkDropList id="dashboard" #dashboard="cdkDropList" (cdkDropListDropped)="drop($event)"
      [ngClass]="{'dashboard-empty': widgets.length == 0}" [cdkDropListData]="widgets" class="row">
      <ng-container *ngFor="let widget of widgets">
        <div class="col-3 mb-3" *ngIf="!widget.widgetState.toDelete">
          <app-widget-card [widget]="widget" cdkDrag></app-widget-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>