<div class="container justify-content-center">
  <div class="row">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
        class="rounded mt-5 p-4 shadow ng-untouched ng-pristine ng-valid">
        <div class="row mb-3">
          <h3 class="mt-2">Welcome to your Dashboard</h3>
        </div>
        <div class="form-group"><label for="mail">Email</label>
          <input formControlName="mail" autocomplete="mail" id="mail" aria-describedby="mail" placeholder=""
            class="form-control ng-untouched ng-pristine ng-valid" [class]="loginInvalid ? 'is-invalid' : ''">
        </div>
        <div class="form-group has-danger mt-3"><label for="password">Password</label>
          <input formControlName="password" autocomplete="password" [class]="loginInvalid ? 'is-invalid' : ''"
            id="password" aria-describedby="password" type="password"
            class="form-control ng-untouched ng-pristine ng-valid">
          <div class="invalid-feedback">Login or password invalid</div>
        </div>
        <div class="form-group mt-3" *ngIf="registerMode"><label for="password_confirm">Confirm your password</label>
          <input autocomplete="password" id="password_confirm" type="password" aria-describedby="password_confirm"
            type="password_confirm" class="form-control ng-untouched ng-pristine ng-valid">
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-link" (click)="registerModeToogle()"
            *ngIf="!registerMode">Register</button>
          <button type="button" class="btn btn-link" (click)="registerModeToogle()" *ngIf="registerMode">Retour</button>
        </div>
        <div class="row">
          <div class="text-center mt-3"><button type="submit"
              class="btn btn-primary btn-block">{{registerMode ? 'Créer mon compte' : 'Se connecter'}}</button>
          </div>
        </div>
        <div class="row mt-3">
          <hr>
          <button (click)="loginWithGoogle()" class="btn btn-secondary">
            <i class="fas fa-google me-2"></i>Login with Google
          </button>
          <button (click)="loginWithMicrosoft()" class="btn btn-secondary mt-3">
            <i class="fas fa-microsoft me-2"></i>Login with Microsoft
          </button>
          <button (click)="loginWithFacebook()" class="btn btn-secondary mt-3">
            <i class="fas fa-facebook me-2"></i>Login with Facebook
          </button>
        </div>
      </form>
    </div>
  </div>
</div>