:host {
    background: #343a40;
}

#sidebar {
    width: 200px;
    min-height: 100vh - 6vh;
    color: #fff;
    transition: all 0.3s;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    max-height: 1vh;
    overflow-y: auto;
}

#sidebar.hidden {
    margin-left: -150px;
}

a[data-toggle="collapse"] {
    position: relative;
}

@media (max-width: 575px) {
    #sidebar {
        margin-left: -200px;
    }

    #sidebar.hidden {
        margin-left: 0;
    }
}

a,
a:hover,
a:focus {
    color: inherit;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar .service-title {
    padding: 10px;
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

hr {
    border-top: 1px solid #fff;
    margin-top: 0;
}