<div *ngIf="widget">
  <div class="row" *ngIf="widget.widgetState.data">
    <div class="d-flex justify-content-between">
      <ul class="list-group" style="max-height: 240px; overflow-y: auto;">
        <li class="list-group-item" *ngFor="let event of widget.widgetState.data.value">
          <a [href]="event.webLink" target="_blank">{{event.subject}}</a>
          <div class="d-flex justify-content-between">
            <span class="text-muted">{{event.start.dateTime | date}}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>